<nav class="navbar navbar-expand-lg navbar-light text-white">
    <div class="container">
        <header>
            @*@Url.Action("Home", "Teacher")*@
            <a class="text-light text-decoration-none h3" href="@Url.Action("Home","Teacher")">
                LMSWeb 2.0
            </a>
        </header>
        <ul class="navbar-nav text-light">
            <li class="text-light">@Html.Partial("_LoginPartial")</li>
        </ul>
    </div>
</nav>